html, body {
	margin: 0 auto;
	height: 100%;
}	

header {
	text-align: center;
}

.navBar {
	height: 60px;
	background: darkgrey;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.header {
	font-size: 40px;
	margin: 10px 0 0 20px;
	float: left;
}

.navigation {
	list-style: none;
}

.navigation > li {
	float: right;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.navigation > li > a {
	text-decoration: none;
	color: black;
}