.sections {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	height: 200%;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
}
.info > div {
	width: 30%;
	margin-left: 15px;
}

.info > div > h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.top-row {
	display: flex;
}

.top-row > div {
	width: 20%;
}

.top-row > div > h4, h5 {
	margin-bottom: 0;
	margin-top: 0;
}

.bottom-row {
	margin-top: 20px;
	display: flex;
}

.bottom-row > div {
	width: 35%;
}

.bottom-row > div > h4, h5 {
	margin-bottom: 0;
	margin-top: 0;
}

.calculations > h4 {
	margin-top: 20px;
	margin-bottom: 0px;
}
.calculations > div {
	display: flex;
	margin: 0;
}
.calculations > div > div {
	margin-left: 20px;
}
.radiation {
	border-style: solid;
	flex-wrap: wrap;
}

.radiation > * {
	margin-left: 15px;
}

.chemotherapy {
	border-style: solid;
}

.chemotherapy > * {
	margin-left: 15px;
}

.sideEffects {
	border-style: solid;
}

.sideEffects > * {
	margin-left: 15px;
}

.surgery {
	border-style: solid;
}

.surgery > * {
	margin-left: 15px;
}